<hr />
<div class="third-level-navigation">
  <div class="form-row align-items-center">
    <p-table
      #dt
      [value]="firewallrules"
      dataKey="RuleName"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5,10, 25, 50]"
      [loading]="loading"
      styleClass="p-datatable-firewallrules"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['RuleName', 'Source', 'Destination', 'Services']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header d-flex">
          <span> IPv4 Firewall Rules Showing 1 of 20</span>

          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Global Search"
            />
          </span>
          <button class="btn mx-1 disabled-color-bg">
            <i class="fa fa-bars"></i>
          </button>
          <button class="btn mx-1 disabled-color-bg">
            <i class="fa fa-cog"></i>
          </button>
          <button class="btn btn-primary">Add Firewall Rule</button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>RuleName</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Schedule</th>
          <th>Services</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-firewall>
        <tr>
          <td>
            <p-tableCheckbox [value]="firewall"></p-tableCheckbox>
        </td>
          <td>
            <span class="heading">{{ firewall.RuleName }}</span>
          </td>
          <td>
            <span>{{ firewall.Source }}</span>
          </td>
          <td>
            <span>{{ firewall.Destination }}</span>
          </td>
          <td>
            <span>{{ firewall.Schedule }}</span>
          </td>
          <td>
            <span>{{ firewall.Services }}</span>
          </td>
          <td>
            <span class="mx-1">
              <i class="fa fa-pencil"></i>
            </span>
            <span class="mx-1">
              <i class="fa fa-shield"></i>
            </span>
            <span class="mx-1">
              <i class="fa fa-trash"></i>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No Firewall Rules found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
