<hr />
<div class="third-level-navigation">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <span
        ><strong> IPv4 Firewall Rules</strong> (Showing 24 of total 24)</span
      >
    </div>
    <div class="col-auto ml-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input
          type="text"
          class="form-control disabled-color-bg"
          id="inlineFormInputGroup"
          placeholder="Search"
        />
      </div>
    </div>
    <div class="col-auto ">
      <button class="btn  mb-2 disabled-color-bg">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="col-auto">
        <button class="btn  mb-2 disabled-color-bg">
          <i class="fa fa-cog"></i>
        </button>
      </div>
    <div class="col-auto ">
      <button class="btn btn-primary mb-2">Add Firewall Rule</button>
    </div>
  </div>
</div>
