<hr />
<div class="third-level-navigation">
  <div class="form-row align-items-center">
    <p-table
      #dt
      [value]="firewallrules"
      dataKey="RuleName"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [loading]="loading"
      styleClass="p-datatable-firewallrules"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['RuleName', 'Source', 'Destination', 'Services','Schedule']"
      [columns]="selectedColumns"
    >
      <ng-template pTemplate="caption">
        <div class="table-header d-flex">
          <span> IPv4 Firewall Rules Showing 1 of 20</span>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Global Search"
            />
          </span>
          <button class="btn mx-1 disabled-color-bg">
            <i class="fa fa-bars"></i>
          </button>
          <p-multiSelect
            [options]="cols"
            [(ngModel)]="selectedColumns"
            optionLabel="header"
            selectedItemsLabel="{0} columns selected"
            placeholder="Choose Columns"
          ></p-multiSelect>
          <button class="btn mx-1 disabled-color-bg">
            <i class="fa fa-cog"></i>
          </button>
          <a class="btn btn-primary" [routerLink]="'../firewall-ipv4-add'" >Add Firewall Rule</a>
   
        </div>

      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-firewall let-columns="columns">
        <tr>
          <td>
            <p-tableCheckbox [value]="firewall"></p-tableCheckbox>
          </td>

          <td *ngFor="let col of columns">
            <span *ngIf="col.field !== 'Action'">
              {{ firewall[col.field] }}</span
            >
            <span *ngIf="col.field == 'Action'">
              <span class="mx-1">
                <i class="fa fa-pencil"></i>
              </span>
              <span class="mx-1">
                <i class="fa fa-shield"></i>
              </span>
              <span class="mx-1">
                <i class="fa fa-trash"></i>
              </span>
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No Firewall Rules found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
