<div class="container-fluid border ngess-main-content-area">
  <div class="row">
    <tabset class="container-fluid p-0 ngess-main-content-tab-header">
      <tab  class="heading" id="tab1" class="mx-2">
        <ng-template tabHeading>
            <span class="heading">Firewall Rules</span>
          </ng-template>
        <h3 class="heading">Firewall Rules</h3>
        <tabset type="pills">
          <tab heading="IPV4" >
            <app-firewall-list-ipv4></app-firewall-list-ipv4>
          </tab>
          <tab heading="IPV6">IPV6</tab>
        </tabset>
      </tab>
      <tab heading="Nat Rules">Nat Rules</tab>
    </tabset>
  </div>
</div>
