@import '../color.scss';
body {
    font-size: .875rem;
  }
 
  
  /*
   * Sidebar
   */
  
  .sidebar {
   max-width: 250px;
   width: 250px;
   background: indianred;
  }
  .sidebar-and-main-container{
      background: gray;
      height: calc(100vh - 56px);
  }
